{%extends 'all_Photos/base.html'%}

{% block content %}
{{block.super}}
<p class='text-center'>Parents, does your student need assistance with writing paragraphs? Our teachers can help.
    Sign up for either our Elementary Paragraph Writing,
    Middle School Paragraph Writing or High School Paragraph Writing course for 1-to-1 guidance.</p>

    <div class="container">


<div class="container">

  <!-- Looping through news   -->
  {% for images_item in images %}
        <div class="row">
          <!-- displaying images -->
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ images_item.name }} </h2>
            <p class="text-center"> {{ images_item.description }} </p>
            <p class="text-center"> {{ images_item.location }} </p>
            <p class="text-center"> {{ images_item.category }} </p>
          </div>
          
          <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{images_item.image.url}}" class="img-responsive" alt="Image">
      </div>
  
          {% empty %}
          <div class="row">
            <h2 class="text-center">There No News Items</h2>
          </div>
          {% endfor %}
        
        </div>
        
        {% endblock %}
 

